@model BUSS.Models.Paket
@{
    ViewBag.Title = "Ubah Jadwal";
    ViewBag.Paket = "active";
    Layout = "~/Views/Shared/_LayoutTourLeader.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">@ViewBag.Title</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Tourleader/Paket">Paket</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Tourleader/Paket">Ubah Jadwal</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card full-height">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("KirimJadwal", "Tourleader")" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <input type="hidden" value="@Model.ID_Paket" name="id_paket" />
                                <input type="hidden" value="2" name="type" />
                                <div class="form-group">
                                    <label>Jadwal</label>
                                    <label class="text-danger">*</label>
                                    <input type="file" value="" name="jadwal" required />
                                </div>

                                <div class="form-group d-flex">
                                    <input type="submit" value="Simpan" class="btn btn-primary mr-3" />
                                    <a href="@Url.Action("Paket", "Tourleader")" class="btn btn-warning">Batal</a>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card full-height">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Nama_Paket)</h5>
                        <h5 class="col-sm-10">@Html.DisplayFor(model => model.Nama_Paket)</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Harga)</h5>
                        <h5 class="col-sm-10">
                            @if (Model.Harga == null)
                            {
                <text>-</text> }
            else
            {
    @Html.DisplayFor(model => model.Harga)}
                        </h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Konsumsi)</h5>
                        <h5 class="col-sm-10">@Html.DisplayFor(model => model.Konsumsi)x</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Lama_Perjalanan)</h5>
                        <h5 class="col-sm-10">@Html.DisplayFor(model => model.Lama_Perjalanan) Hari</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Jenis_Paket)</h5>
                        <h5 class="col-sm-10">
                            @(Model.Jenis_Paket == 0 ? "Paket" : "Custom")
                        </h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Jadwal)</h5>
                        <h5 class="col-sm-10">@Html.DisplayFor(model => model.Jadwal)</h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-2 font-weight-bold">@Html.DisplayNameFor(model => model.Keterangan)</h5>
                        <h5 class="col-sm-10">@Html.DisplayFor(model => model.Keterangan)</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card full-height">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Daftar Destinasi</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="example2">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Nama Destinasi</th>
                                    <th>Kota</th>
                                    <th>Harga Tiket</th>
                                    <th>Rating</th>
                                    <th>Jam Operasional</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowCount = 1; }
                                @foreach (var item in Model.Detail_Paket)
                                {
                    <tr>
                        <td>@(rowCount++).</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinasi.Nama_Destinasi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinasi.Kota.Nama_Kota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinasi.Harga_Tiket)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destinasi.Rating)
                        </td>
                        <td>
                            @item.Destinasi.Jam_buka - @item.Destinasi.Jam_tutup
                        </td>
                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>