@model IEnumerable<BUSS.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isi_Feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaksi.ID_Customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isi_Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaksi.ID_Customer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Feedback }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Feedback }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Feedback })
        </td>
    </tr>
}

</table>
