@model BUSS.Models.Paket

@{
    ViewBag.Title = "Custom Paket";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="bg-gray section-page">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Kategori Wilayah</h5>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="Kategori Wilayah">Kategori Wilayah</label>
                            <div class="d-flex">
                                <select class="form-control" name="id">
                                    @foreach (var ka in ViewBag.Kategori_Wilayah)
                                    {
                                        <option value="@ka.ID_KategoriWilayah" @(ViewBag.SelectedKategori == ka.ID_KategoriWilayah ? "selected" : "")>@ka.Nama_Wilayah</option>
                                    }
                                </select>
                                <button type="submit" class="btn btn-primary ml-3"><i class="fa fa-eyes"></i> Lihat Destinasi</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Daftar Destinasi</h5>
                <div class="card-body">
                    <table class="table" id="table-destinasi">
                        <thead>
                            <tr>
                                <th>Nama Destinasi</th>
                                <th>Kota</th>
                                <th>Harga Tiket</th>
                                <th>Jam Operasional</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Destinasi != null)
                            {
                                foreach (var dest in ViewBag.Destinasi)
                                {
                                    <tr>
                                        <td data-id="@dest.ID_Destinasi">@dest.Nama_Destinasi</td>
                                        <td>@dest.Kota.Nama_Kota</td>
                                        <td>@string.Format("Rp{0:0,0}", dest.Harga_Tiket)</td>
                                        <td>@dest.Jam_buka.ToString("hh\\:mm") - @dest.Jam_tutup.ToString("hh\\:mm")</td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm btnTambah">Tambah</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Daftar Destinasi</h5>
                <div class="card-body">

                    @using (Html.BeginForm("CheckoutCustom", "Transaksi", FormMethod.Post, new { id = "checkoutForm" }))
                    {
                    <div class="d-flex">
                        <div class="form-group">
                            <label>Nama Paket</label>
                            <label class="text-danger">*</label>
                            <input type="text" value="" name="Nama_Paket" class="form-control" required />
                        </div>
                        <div class="form-group ml-3">
                            <label>Tgl. Sewa</label>
                            <label class="text-danger">*</label>
                            <input type="date" value="" name="tgl_sewa" class="form-control" required />
                        </div>
                        <div class="form-group ml-3">
                            <label>Lama Perjalanan</label>
                            <label class="text-danger">*</label>
                            <input type="number" value="" name="Lama_Perjalanan" id="Lama_Perjalanan" class="form-control" required />
                        </div>
                        <div class="form-group ml-3">
                            <label>Konsumsi</label>
                            <label class="text-danger"></label><br />
                            <h4 id="Konsumsi">0</h4>
                        </div>
                        
                        <div class="form-group ml-3 d-none" id="rdPenginapan">
                            @Html.LabelFor(model => model.Penginapan)
                            <label class="text-danger">*</label><br />
                            <input type="radio" value="1" name="Penginapan" id="penginapan_ya" required />
                            <label for="penginapan-ya">Ya</label>
                            <input type="radio" value="0" class="ml-3" name="Penginapan" id="penginapan_tidak" required checked />
                            <label for="penginapan-tidak">Tidak</label>
                        </div>
                    </div>

                        <table class="table" id="table-destinasi-terpilih">
                            <thead>
                                <tr>
                                    <th>Nama Destinasi</th>
                                    <th>Kota</th>
                                    <th>Harga Tiket</th>
                                    <th>Jam Operasional</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <h3 class="font-weight-bold text-danger" id="totalHargaTiket">Total Harga Tiket : Rp0</h3>
                            <input type="hidden" id="Harga" name="Harga" value="" required />
                        </div>

                        <div id="inputdata">
                        </div>

                        <div id="hiddenForDestinasi"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="btnSubmit"> Checkout</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        const formatter = new Intl.NumberFormat('id-ID', {
            style: 'currency',
            currency: 'IDR',
            minimumFractionDigits: 0
        })

        if ("@TempData["ErrorMessage"]" != "") {
            swal("Gagal", "@TempData["ErrorMessage"]", {
                icon: "error",
                buttons: {
                    confirm: {
                        className: 'btn btn-danger'
                    }
                },
            });
        }

        $(document).ready(function () {

            $("#table-destinasi").on('click', '.btnTambah', function () {
                let row = $(this).closest('tr');

                $("#table-destinasi-terpilih tbody").append(`<tr>
                            <td data-id="${row.find('td:eq(0)').data('id')}">${row.find('td:eq(0)').html()}</td>
                            <td>${row.find('td:eq(1)').html()}</td>
                            <td>${row.find('td:eq(2)').html()}</td>
                            <td>${row.find('td:eq(3)').html()}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm btnDelete">Hapus</button>
                            </td>
                        </tr>`);

                $(this).closest('tr').remove();

                $("#hiddenForDestinasi").append(`<input type="hidden" value="${row.find('td:eq(0)').data('id')}" name="ID_Destinasi">`);

                UpdateTotalHarga();
            });


            $("#table-destinasi-terpilih").on('click', '.btnDelete', function () {
                let row = $(this).closest('tr');
                $('#table-destinasi').append(`<tr>
                            <td data-id="${row.find('td:eq(0)').data('id')}">${row.find('td:eq(0)').html()}</td>
                            <td>${row.find('td:eq(1)').html()}</td>
                            <td>${row.find('td:eq(2)').html()}</td>
                            <td>${row.find('td:eq(3)').html()}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm btnTambah">Tambah</button>
                            </td>
                        </tr>`);

                $("input[name=ID_Destinasi]").each(function (i) {
                    if ($(this).val() == row.find('td:eq(0)').data('id')) {
                        $(this).remove();
                    }
                });

                $(this).closest('tr').remove();
                UpdateTotalHarga();
            });


            $("#btnSubmit").on("click", function (e) {
                e.preventDefault(); // prevent form submit
                var form = event.target.form; // storing the form
                var countBus = $('#table-destinasi-terpilih tbody tr').length;

                if (countBus != 0) {
                    if ("@Session["NIK"]" == "") {
                        swal("Gagal", "Silahkan login terlebih dahulu sebelum memesan!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-danger'
                                }
                            },
                        });
                    } else {
                        var isvalid = true;
                        $("#checkoutForm input").each(function () {
                            if ($(this).val() == "") {
                                isvalid = false;
                            }
                        })

                        if (isvalid) form.submit();
                        else {
                            swal("Gagal", "Lengkapi semua isian!", {
                                icon: "error",
                                buttons: {
                                    confirm: {
                                        className: 'btn btn-danger'
                                    }
                                },
                            });
                        }
                    }
                } else {
                    swal("Gagal", "Silahkan pilih destinasi terlebih dahulu", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: 'btn btn-danger'
                            }
                        },
                    });
                }
            });


            $('#Lama_Perjalanan').on('input', function () {
                let lp = parseInt($(this).val());
                if (lp > 1) {
                    $("#rdPenginapan").removeClass("d-none");
                } else {
                    $("#rdPenginapan").addClass("d-none");
                    $("#penginapan_tidak").prop("checked", true);
                }
                let totalKonsumsi = parseInt($(this).val()) * 2;
                $("#Konsumsi").html(totalKonsumsi);
                UpdateTotalHarga();
            });

            $('input[type=radio][name=Penginapan]').change(function () {
                UpdateTotalHarga();
            });
        });

        function UpdateTotalHarga() {
            let lamaPerjalanan = parseInt($("#Lama_Perjalanan").val()) || 0;
            console.log(lamaPerjalanan);
            let konsumsi = (lamaPerjalanan * 2) * 30000;
            let total = $("#penginapan_ya").is(':checked') ? 50000 * (lamaPerjalanan - 1) + SumRow(2) + konsumsi : SumRow(2) + konsumsi;

            $("#totalHargaTiket").text("Total Harga Tiket : " + formatter.format(total));

            $("#Harga").val(total);
        }

        function SumRow(column) {
            var returnsum = 0;
            $('#table-destinasi-terpilih tbody tr').each(function () {

                var sum = 0

                $(this).find('td').eq(column).each(function () {
                    var combat = numberOnly($(this).text());
                    if (!isNaN(combat) && combat.length !== 0) {
                        sum += parseFloat(combat);
                    }
                });

                returnsum += sum;
            });
            return returnsum;
        }


        function numberOnly(str) {
            var numb = str.match(/\d/g);
            numb = numb.join("");

            return parseInt(numb);
        }
    </script>
}