@model IEnumerable<BUSS.Models.Destinasi>

@{
    ViewBag.Title = "Destinasi";
    Layout = "~/Views/Shared/_LayoutHome2.cshtml";
}

<!-- Section Form -->
<section class="search-form-destinasi">
    <div class="shadow">
        <h3 class="form-title text-left">Cari Destinasi</h3>
        <form action="" class="mt-5">
            <div class="form-group">
                <div class="d-flex">
                    <input type="text" name="cari" class="form-control" placeholder="Cari ...">
                    <button class="btn btn-warning ml-3 font-weight-bold"><i class="fa fa-search mr-2"></i> Cari</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End Section Form -->

<!-- Section Destination -->
<section class="bg-white">
    <div class="row">
        @*<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 mt-4">
                <div class="section-title">
                    <div>
                        <h3>Filter</h3>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <div class="filter-content">
                            <h5 class="font-weight-bold">Kota</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="bali" name="kota">
                                <label class="form-check-label" for="bali">Bali</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="jakarta" name="kota">
                                <label class="form-check-label" for="jakarta">Jakarta</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="yogyakarta" name="kota">
                                <label class="form-check-label" for="yogyakarta">Yogyakarta</label>
                            </div>
                            <input type="text" name="custom-kota" class="form-control mt-2" placeholder="Lainnya...">
                        </div>

                        <div class="filter-content">
                            <h5 class="font-weight-bold">Rating</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="1" name="rating">
                                <label class="form-check-label" for="1">1</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="2" name="rating">
                                <label class="form-check-label" for="2">2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="3" name="rating">
                                <label class="form-check-label" for="3">3</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="4" name="rating">
                                <label class="form-check-label" for="4">4</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="5" name="rating">
                                <label class="form-check-label" for="5">5</label>
                            </div>
                        </div>

                        <div class="filter-content">
                            <button type="submit" class="btn btn-warning font-weight-bold"> <i class="fa fa-filter mr-2"></i> Filter</button>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-12">
            <div class="section-title">
                <div>
                    <h3 class="">Destinasi</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                @foreach (var data in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
                        <a href="@Url.Action("LihatDestinasi", "Home", new { id = data.ID_Destinasi })">
                            <div class="card h-100">
                                <img class="card-img-top" src="~/Content/upload/@data.Detail_Foto.FirstOrDefault().Foto" alt="@data.Nama_Destinasi">
                                <div class="card-body">
                                    <div class="card-title font-weight-bold h5">@data.Nama_Destinasi</div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="dest-star mb-1" data-rating="@data.Rating"></div>
                                        </div>
                                        <div>@data.Detail_Rating_Destinasi.Count</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <button type="button" class="btn btn-black mx-auto my-5"><i class="fa fa-arrow-circle-down mr-2"></i> Muat lebih banyak</button>
        </div>
    </div>

</section>
<!-- End Section Destination -->