@model BUSS.Models.Pegawai

@{
    ViewBag.Title = "Edit";
    ViewBag.SidebarMenu = "Pegawai";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">@ViewBag.Title</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/Pegawai">Pegawai</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Edit</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Data Pegawai @Html.DisplayFor(model => model.ID_Pegawai)</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID_Pegawai)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nama)
                                    @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Alamat)
                                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.No_HP)
                                    @Html.EditorFor(model => model.No_HP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.No_HP, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Simpan" class="btn btn-default" />
                                    <a href="@Url.Action("Index", "Pegawai")" class="btn btn-warning">Batal</a>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username)
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password)
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Role)
                                    @Html.DropDownListFor(model => model.Role, new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "Admin", Value="1"},
                                        new SelectListItem() {Text = "Tour Leader", Value="2"}
                                    }, "Pilih Role", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
