@model IEnumerable<BUSS.Models.Pegawai>

@{
    ViewBag.Title = "Pegawai";
    ViewBag.SidebarMenu = "Pegawai";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">@ViewBag.Title</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/@ViewBag.SidebarMenu">@ViewBag.SidebarMenu</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Data @ViewBag.SidebarMenu</h3>
                    <a href="@Url.Action("Create", ViewBag.SidebarMenu)" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Tambah Data</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="example2">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nama)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Alamat)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.No_HP)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowCount = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(rowCount++).</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nama)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Alamat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.No_HP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @{
                                                switch (item.Role)
                                                {
                                                    case 1:
                                                        {
                                                            <text>Admin</text>
                                                            break;
                                                        }
                                                    case 2:
                                                        {
                                                            <text>Tour Leader</text>
                                                            break;
                                                        }
                                                    default:
                                                        {
                                                            <text>Manager</text>
                                                            break;
                                                        }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", @ViewBag.SidebarMenu, new { id = item.ID_Pegawai })" class="btn btn-warning btn-sm mr-1">
                                                <i class="fa fa-edit"></i> Ubah
                                            </a>
                                            @*<a href="@Url.Action("Details", @ViewBag.SidebarMenu, new { id = item.ID_Pegawai })" class="btn btn-info btn-sm mr-1">
                                                <i class="fa fa-eye"></i> Detil
                                            </a>*@
                                            <form action="@Url.Action("Delete", "Pegawai")" method="post" class="d-inline">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="id" value="@item.ID_Pegawai" />
                                                <button type="submit" class="btn btn-danger deleteBtn btn-sm"><i class="fa fa-trash"></i> Hapus</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        if ("@TempData["SuccessMessage"]" != "") {
            swal("Berhasil", "@TempData["SuccessMessage"]", {
                icon: "success",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                },
            });
        }
    </script>
}