@model BUSS.Models.Paket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama_Paket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Paket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konsumsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konsumsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lama_Perjalanan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lama_Perjalanan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jenis_Paket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jenis_Paket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jadwal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jadwal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
