@model BUSS.Models.Transaksi

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<section class="bg-gray section-page">
    @using (Html.BeginForm((ViewBag.ID_Destinasi == null ? "CheckoutConfirmed" : "CustomConfirmed"), "Transaksi", FormMethod.Post, new { id = "formSubmit" })) {
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Detail Paket</h5>
                    <div class="card-body">
                        <h5 class="card-title mb-4">@Model.Paket.Nama_Paket</h5>
                        <div class="d-flex justify-content-between">
                            <p class="m-0 font-weight-bold">Konsumsi</p>
                            <p class="m-0">@Model.Paket.Konsumsi x</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-0 font-weight-bold">Lama Perjalanan</p>
                            <p class="m-0">@Model.Paket.Lama_Perjalanan Hari</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-0 font-weight-bold">Harga</p>
                            <p class="m-0 text-danger font-weight-bold" id="Harga_paket">@string.Format("Rp{0:0,0}", Model.Paket.Harga)</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-0 font-weight-bold">Menginap</p>
                            <p class="m-0">@(Model.Paket.Penginapan == 0 ? "Tidak" : "Ya")</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="m-0 font-weight-bold">Tanggal Sewa</p>
                            <p>@Html.DisplayFor(model => model.Tanggal_Pesanan)</p>
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <p class="m-0 font-weight-bold">Keterangan</p>
                            <p>@(Model.Paket.Keterangan == null ? "Tidak ada keterangan." : Model.Paket.Keterangan)</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Pilih Bus</label>
                            <div class="d-flex">
                                <select name="kendaraan" id="kendaraan" class="form-control">
                                    @foreach (var kend in ViewBag.Kendaraan)
                                    {
                                        <option value="@kend.ID_Kendaraan - @kend.Nama_Kendaraan - @kend.Jenis_Kendaraan.Jumlah_Kursi - @kend.Harga_kendaraan">
                                            @kend.Nama_Kendaraan - @kend.Jenis_Kendaraan.Jumlah_Kursi
                                        </option>
                                    }
                                </select>
                                <button type="button" id="tambahBus" class="btn btn-primary ml-3">Tambah Bus</button>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table" id="table-bus">
                                <thead>
                                    <tr>
                                        <th>No. </th>
                                        <th>Nama Bus</th>
                                        <th>Kapasitas Penumpang</th>
                                        <th>Harga Sewa</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        @if (ViewBag.ID_Destinasi != null)
                        {
                            foreach (var dest in ViewBag.ID_Destinasi)
                            {
                                <input type="hidden" name="ID_Destinasi" value="@dest" />
                            }
                            @Html.HiddenFor(model => model.Paket.Nama_Paket);
                            @Html.HiddenFor(model => model.Paket.Lama_Perjalanan);
                            @Html.HiddenFor(model => model.Paket.Konsumsi);

                        }


                        <input type="hidden" name="ID_Paket" value="@Model.Paket.ID_Paket" />
                        <input type="hidden" name="PaketLama_Perjalanan" id="LamaPerjalanan" value="@Model.Paket.Lama_Perjalanan" />
                        <input type="hidden" name="Tanggal_Pesanan" value="@Model.Tanggal_Pesanan" />

                        @Html.HiddenFor(model => model.Harga_total)
                        @Html.HiddenFor(model => model.Jumlah_Penumpang)
                        @Html.HiddenFor(model => model.Paket.Penginapan)
                        <div id="hiddenForBus">

                        </div>

                        <div>
                            <h2 class="d-inline text-danger">Total Harga Pesanan : </h2>
                            <h2 class="d-inline text-danger" id="txtTotalHarga">Rp0</h2>
                        </div>
                        <div class="form-group d-flex">
                            <button type="submit" id="btnSubmit" class="btn btn-warning text-center font-weight-bold mr-2">Pesan</button>
                            @if (ViewBag.ID_Destinasi == null)
                            {
                                <a href="@Url.Action("LihatPaket", "Home", new { id = Model.Paket.ID_Paket })" class="btn btn-danger text-center font-weight-bold">Batal</a>
                            }
                            else
                            {
                                <a href="@Url.Action("CustomPaket", "Home")" class="btn btn-danger text-center font-weight-bold">Batal</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>

<hr />

@section scripts {
    <script>
        function SumRow(column) {
            var returnsum = 0;
            $('#table-bus tbody tr').each(function () {

                var sum = 0

                $(this).find('td').eq(column).each(function () {
                    var combat = numberOnly($(this).text());
                    if (!isNaN(combat) && combat.length !== 0) {
                        sum += parseFloat(combat);
                    }
                });

                returnsum += sum;
            });
            return returnsum;
        }

        function UpdateTfoot() {
            var countBus = $('#table-bus tbody tr').length;

            $("#table-bus tfoot").html(`<tr>
                <td>Total Bus</td>
                <td>${countBus}</td>
                <td>${SumRow(2)}</td>
                <td>Rp${txtMoney(SumRow(3))}</td>
                <td>-</td>
            </tr>`);

            var totalHarga = (numberOnly($("#Harga_paket").html()) * getFootCellValue(2)) + (getFootCellValue(3) * $("#LamaPerjalanan").val());
            var totalHargaFormatted = "Rp" + txtMoney(totalHarga);
            
            $("#txtTotalHarga").html(totalHargaFormatted);
            $("#Harga_total").val(totalHarga);
            $("#Jumlah_Penumpang").val(getFootCellValue(2));

        }

        function getFootCellValue(column) {
            var MyRows = $('#table-bus tfoot').find('tr');
            return parseInt(numberOnly($(MyRows[0]).find('td:eq(' + column + ')').html()));
        }

        function numberOnly(str) {
            var numb = str.match(/\d/g);
            numb = numb.join("");

            return parseInt(numb);
        }

        function txtMoney(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        $(document).ready(function () {
            $("#tambahBus").click(function () {
                let kendaraan = $("#kendaraan").val();
                if (kendaraan != null) {
                    var array = kendaraan.split(" - ");
                    $("#table-bus tbody").append(`<tr>
                        <td>${array[0]}</td>
                        <td>${array[1]}</td>
                        <td>${array[2]}</td>
                        <td>Rp${txtMoney(parseInt(array[3]))}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm btnDelete">Hapus</button>
                        </td>
                    </tr>`);

                    UpdateTfoot();

                    $('#kendaraan option:selected').remove();

                    $("#hiddenForBus").append(`<input type="hidden" value="${array[0]}" name="ID_Kendaraan">`);

                } else {
                    alert("Kendaraan sudah tidak tersedia");
                }

            });

            //*
            $("#table-bus").on('click', '.btnDelete', function () {
                let row = $(this).closest('tr').find('td');
                $('#kendaraan').append($('<option>', {
                    value: `${row.eq(0).text()} - ${row.eq(1).text()} - ${row.eq(2).text()} - ${numberOnly(row.eq(3).text())}`,
                    text: `${row.eq(1).text()} - ${row.eq(2).text()}`
                }));

                $(this).closest('tr').remove();

                $("input[type=hidden][name=ID_Kendaraan]").each(function () {
                    if ($(this).val() === row.eq(0).text()) {
                        $(this).remove();
                    }
                });
                

                UpdateTfoot();
            });

            $("#btnSubmit").on("click", function (e) {
                e.preventDefault(); // prevent form submit
                var form = event.target.form; // storing the form
                var countBus = $('#table-bus tbody tr').length;
                if (countBus != 0) {
                    if ("@Session["NIK"]" == "") {
                        swal("Gagal", "Silahkan login terlebih dahulu sebelum memesan!", {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-danger'
                                }
                            },
                        });
                    } else {
                        form.submit();
                    }
                } else {
                    swal("Gagal", "Silahkan pilih bus terlebih dahulu", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: 'btn btn-danger'
                            }
                        },
                    });
                }
            });
        });


    </script>    
    
}