@model BUSS.Models.Jenis_Kendaraan

@{ ViewBag.Title = "Tambah Jenis Kendaraan";
    ViewBag.SidebarMenu = "Jenis Kendaraan"; }

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">@ViewBag.Title</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/Jenis_Kendaraan">@ViewBag.Title</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/Admin/Jenis_Kendaraan/Create">Tambah</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Data @ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nama_Jenis)
                                    <label class="text-danger">*</label>
                                    @Html.EditorFor(model => model.Nama_Jenis, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nama_Jenis, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Jumlah_Kursi)
                                    <label class="text-danger">*</label>
                                    @Html.EditorFor(model => model.Jumlah_Kursi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Jumlah_Kursi, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Simpan" class="btn btn-primary" />
                                    <a href="@Url.Action("Index", "Jenis_Kendaraan")" class="btn btn-warning">Batal</a>
                                </div>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#Nama_Jenis").keypress(function (e) {
                var key = e.keyCode;
                if (key >= 48 && key <= 57) {
                    e.preventDefault();
                }
            });
        });

    </script>

}