
@{
    ViewBag.Title = "Manager";
    ViewBag.Dashboard = "active";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                <h5 class="text-white op-7 mb-2">Selamat Datang, @Session["Name"]!</h5>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Transaksi Terakhir Anda</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Paket</td>
                                    <td>Dipesan</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int no = 1; }
                                @foreach (var item in ViewBag.Transaksi)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.Nama_Paket</td>
                                        <td>@item.jumlah_dipesan</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Statistik Penjualan</div>
                    <div class="row py-3">
                        <div class="col-md-12 d-flex justify-content-around">
                            <div>
                                <h6 class="fw-bold text-uppercase text-success op-8">Jumlah Penjualan</h6>
                                <h3 class="fw-bold">@ViewBag.trCount</h3>
                            </div>
                            <div>
                                <h6 class="fw-bold text-uppercase text-danger op-8">Total Penjualan</h6>
                                <h3 class="fw-bold">@string.Format("Rp{0:0,0}", ViewBag.trSum)</h3>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5">
                            <div id="chart-container" style="position: relative; height: 100%">
                                <canvas id="chartJumlahPesanan"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Kategori Wilayah Beserta Jumlah Destinasinya</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Nama Wilayah</td>
                                    <td>Jumlah Destinasi</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ no = 1; }
                                @foreach (var item in ViewBag.JumlahDestinasiWilayah)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.Nama_Wilayah</td>
                                        <td>@item.JumlahDestinasi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Destinasi Terlaris</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Nama Destinasi</td>
                                    <td>Jumlah Dipesan</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ no = 1; }
                                @foreach (var item in ViewBag.DestinasiTerlaris)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.Nama_Destinasi</td>
                                        <td>@item.JumlahDipesan</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        if ("@TempData["SuccessMessage"]" != "") {
            swal("Berhasil", "@TempData["SuccessMessage"]", {
                icon: "success",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                },
            });
        }

        var jmlPesanan = document.getElementById('chartJumlahPesanan').getContext('2d');
        var dtDate = [];
        var dtCount = [];

        var array = @Html.Raw(Json.Encode(@ViewBag.grafikPenjualan));

        for (var i = 0; i < array.length; i++) {
            //Convert Miliseconds to Date
            let d = new Date(numberOnly(array[i].tgl));

            //push ke array date dan count
            dtDate.push(moment(d.toString()).format("DD/MM/YYYY"));
            dtCount.push(array[i].jumlah);
        }

        console.log(dtDate);
        console.log(dtCount);

        var customerChart = new Chart(jmlPesanan, {
            type: 'bar',
            data: {
                labels: dtDate,
                datasets: [{
                    label: "Penjualan",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: dtCount,
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        customerChart.canvas.parentNode.style.height = '350px';

    </script>
}
