
@{
    ViewBag.Dashboard = "active";
    ViewBag.Title = "Pegawai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                <h5 class="text-white op-7 mb-2">Selamat Datang, @Session["Name"]!</h5>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Data Transaksi</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Status Transaksi</td>
                                    <td>Jumlah</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int no = 1; }
                                @foreach (var item in ViewBag.StatusTrans)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.StatusTrans</td>
                                        <td>@item.jumlah</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Statistik</div>
                    <div class="row py-3">
                        <div class="col-md-12 d-flex justify-content-around">
                            <div>
                                <h6 class="fw-bold text-uppercase text-success op-8">Jumlah Transaksi</h6>
                                <h3 align="center" class="fw-bold">@ViewBag.trCount</h3>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5">
                            <div id="chart-container" style="position: relative; height: 100%">
                                <canvas id="chartStatusTrans"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Kategori Wilayah Beserta Jumlah Destinasinya</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Nama Wilayah</td>
                                    <td>Jumlah Destinasi</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ no = 1; }
                                @foreach (var item in ViewBag.JumlahDestinasiWilayah)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.Nama_Wilayah</td>
                                        <td>@item.JumlahDestinasi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Destinasi Terlaris</div>
                    <div class="table-responsive mt-4">
                        <table class="table dttable">
                            <thead>
                                <tr>
                                    <td>No</td>
                                    <td>Nama Destinasi</td>
                                    <td>Jumlah Dipesan</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ no = 1; }
                                @foreach (var item in ViewBag.DestinasiTerlaris)
                                {
                                    <tr>
                                        <td>@(no++)</td>
                                        <td>@item.Nama_Destinasi</td>
                                        <td>@item.JumlahDipesan</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

@section scripts {
    <script>
        if ("@TempData["SuccessMessage"]" != "") {
            swal("Berhasil", "@TempData["SuccessMessage"]", {
                icon: "success",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                },
            });
        }

        var jmlPesanan = document.getElementById('chartStatusTrans').getContext('2d');
        var dtStatus = [];
        var dtCount = [];

        var array = @Html.Raw(Json.Encode(@ViewBag.StatusTrans));

        for (var i = 0; i < array.length; i++) {

            //push ke array date dan count
            dtStatus.push(array[i].StatusTrans);
            dtCount.push(array[i].jumlah);
        }


        var adminChart = new Chart(jmlPesanan, {
            type: 'doughnut',
            data: {
                labels: dtStatus,
                datasets: [{
                    label: dtStatus,
                    backgroundColor: [
                        '#ff6384', '#36a2eb', '#cc65fe', '#ffce56', '#ffb84d', '#99ff99', '#c68c53'
                    ],
                    borderColor: '#fff',
                    data: dtCount,
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: true,
                    position: 'right',
                    align: 'center',
                    labels: {
                        fontColor: 'rgba(213, 143, 56, 1)'
                    }
                },
                //scales: {
                //    yAxes: [{
                //        display: true,
                //        ticks: {
                //            beginAtZero: true
                //        },
                //        gridLines: {
                //            drawBorder: false,
                //            display: false
                //        }
                //    }],
                //    xAxes: [{
                //        gridLines: {
                //            drawBorder: false,
                //            display: false
                //        }
                //    }]
                //},
            }
        });

        adminChart.canvas.parentNode.style.height = '400px';

    </script>
}